.backgroundImage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 10;
}

.loginForm {
    box-shadow: 10px 9px 20px 0 gray;
    padding: 60px 16px;
    border-radius: 16px;
    top: 15%;
    left: min(100px, 15%) ;
    position: absolute;
    z-index: 15;
    width: min(400px, 70%);
    height: 70%;
    background: whitesmoke;
}

.miniLogoLogin {
    display: flex;
    justify-content: center;
}

.miniLogoLogin img {
    width: 130px;
    height: 130px;
}

.optionsContainer {
    display: flex;
    flex-wrap: wrap;
}

.addButton {
    background-color: var(--col-primary) !important;
    color: var(--col-white) !important;
}

.optionsContainer div {
    flex: 1 0 21%;
    margin: 5px
}

.optionsContainer label {
    width: 20px;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {
}