@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Sansita+Swashed:wght@400;500;800&display=swap');

html,
body, #root {
    color: var(--col-font) !important;
    padding: 0;
    margin-top: 70px;
    font-family: 'Barlow', serif !important;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.header {
    font-family: 'Barlow', serif !important;
    font-weight: 600 !important;
}


:root {
    --col-font: #585A66;
    --col-secondary-font: #838383;
    --col-primary: #C67F4E;
    --col-secondary: #CBD4A5;
    --col-tertiary: #585A66;
    --col-primary2: #DBBC74;
    --col-secondary2: #D2A78F;
    --col-tertiary2: #F5ECD8;
    --col-primary3: #E6E7E3;
    --col-secondary3: #F8EDE7;
    --col-tertiary3: #E7CDB4;
    --col-orange: #FF8000;
    --col-danger: #7E191B;
    --col-quaternary: #FFFF;
    --col-white: #FFFF;
    --col-lightgray: lightgray;
}