@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Rubik:wght@600;700;800&display=swap');

html,
body, #root {
    color: var(--col-font) !important;
    padding: 0;
    margin-top: 78px;
    font-family: 'Rubik', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.header {
    font-family: 'Rubik', sans-serif !important;
    font-weight: 600 !important;
    line-height: 40px !important;
}


:root {
    /*Fonts*/
    --col-font: #585A66;
    --col-secondary-font: #838383;
    --col-footer-font: var(--col-white);

    /*Pallette*/
    --col-primary: #C67F4E;
    --col-secondary: #CBD4A5;
    --col-tertiary: #585A66;
    --col-quaternary: #FFFF;

    /*Colors*/
    --col-orange: #FF8000;
    --col-danger: #7E191B;
    --col-white: #FFFFFF;
    --col-lightgray: #D3D3D3;
    --col-darkgray: #3D3D3D ;
}

.flex-start {
    display: flex;
    justify-content: flex-start !important;
    gap: 8px;
}

.flex-center {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.p-1 {
    padding: 4px
}