.logo {
  background: url("https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.19.0/mercadolibre/logo__small@2x.png");
  background-size: 44px 31px;
  width: 44px;
  height: 32px;
  top: 8px;
  left: 8px;
  position: relative;
}

.input {
  width: max(30vw, calc(100% - 40px));
  height: 48px;
  left: 4px;
  padding-top: 7px;
  padding-bottom: 5px;
  display: flex;
  justify-content: left;
}

.companyText {
  display: none;
}

.navbar {
  margin-top: -70px;
  box-shadow: -1px 1px 20px 0px lightgrey;
  position: fixed;
  z-index: 10;
  margin-bottom: 16px;
  background: var(--col-secondary);
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  padding: 16px;
  width: min(100%, 700px)!important;
  top: 50px !important;
}

.cardImg {
  object-position: 0 -20px;
  object-fit: cover;
  height: 12em !important;
  max-height: 12em !important;
  width: 100%;
  overflow: hidden;
}

.productDetailsImg {
  object-position: 0 -20px;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

.item {
  padding: 16px !important;
  flex-direction: row !important;
  align-items: center;
}

.item img {
  object-fit: cover;
  width: min(20%, 100px) ;
}

.footer {
  margin-top: 16px;
  padding: 16px;
  background: var(--col-secondary) !important;
}

.footerMeta {
  color: var(--col-secondary-accent)
}

.font {
  color: var(--col-font) !important;
}

.cardDescription {
  overflow: hidden;
  height: 32px;
  text-overflow: ellipsis;
}

.card:hover {
  box-shadow: -1px 1px 20px 0px lightgrey !important;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {
  .input {
    width: 500px;
  }
  .companyText {
    display: inline;
    margin-left: 20px;
  }

  .cartContainer {
    display: flex;
    justify-content: flex-end;
    width: 230px;
  }
  .item {
    display: flex !important;
  }
}