.cleanFilterButton {
  padding: 0 16px !important;
  height: 40px;
}

.navbar {
  box-shadow: -1px 1px 20px 0 lightgrey;
  top: 0;
  position: fixed;
  z-index: 100;
  margin-bottom: 16px;
  background: var(--col-quaternary);
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  padding: 16px;
  width: min(100%, 700px)!important;
  top: 60px !important;
}

.navMenu {
  width: min(75%, 400px)!important;
  top: 60px !important;
}

.navMenu div {
  margin-left: 8px;
  margin-right: 8px;
}

.navMenu > div :hover {
  font-weight: bold;
}

.cardImg {
  object-position: 0 -20px;
  object-fit: cover;
  height: 12em !important;
  max-height: 12em !important;
  width: 100%;
  overflow: hidden;
}

.productDetailsImg {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

.item {
  padding: 16px !important;
  flex-direction: row !important;
  align-items: center;
  gap: 8px;
}

.footer {
  margin-top: 16px;
  padding: 16px;
  background: var(--col-quaternary) !important;
}

.footer p {
  color: var(--col-footer-font);
}

.footerMeta {
  color: var(--col-footer-font);
  filter: invert(100%);
}

.font {
  color: var(--col-font) !important;
}

.card:hover {
  box-shadow: -1px 1px 20px 0 lightgrey !important;
}
.sidebarActions {
  width: 100% !important;
  margin:0;
}

.cartItemContainer {
  height: calc(100% - 256px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.configButton {
  position: fixed;
  bottom: 16px;
  top: unset;
  left: 16px;
  z-index: 2;
}

.cartButton {
  margin-top: 3px !important;
  background: transparent !important;
}

.card h2 {
  font-size: 16px;
  text-align: left;
  color: var(--col-font);
}

.card h3 {
  margin: 0;
  font-size: 14px;
  text-align: left;
  color: var(--col-secondary-font);
  font-weight: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;
  height: 35px;
}

.card h4 {
  margin-top: 8px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.newBadge {
  position: absolute;
  z-index: 9;
  right: 0;
  top: 125px;
}

/* On screens that are 992px or more */
@media screen and (min-width: 992px) {
  .newBadge {
    right: 8px;
    top: 160px;
  }

  .input {
    width: 500px;
  }

  .cartContainer {
    display: flex;
    justify-content: flex-end;
    width: 230px;
  }

  .cartNumber {
    width: 20px;
    height: 20px;
    background-color: var(--col-orange) !important;
    padding: 3px;
    margin: 0;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    align-items: center;
  }

  .item {
    display: flex !important;
  }
}
