.largeLogoFooter {
  display: block !important;
}

.smallLogoFooter {
  display: none !important;
}

.smallLogo {
  display: block !important;
}

.largeLogo {
  display: none !important;
}

.input {
  width: max(30vw, calc(100% - 40px));
  height: 48px;
  left: 4px;
  padding-top: 7px;
  padding-bottom: 5px;
  display: flex;
  justify-content: left;
}

.navbar {
  margin-top: -70px;
  box-shadow: -1px 1px 20px 0 lightgrey;
  position: fixed;
  z-index: 10;
  margin-bottom: 16px;
  background: var(--col-secondary3);
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.navbarAdmin {
  background: var(--col-primary);
}

.sidebar {
  padding: 16px;
  width: min(100%, 700px)!important;
  top: 50px !important;
}

.cardImg {
  object-position: 0 -20px;
  object-fit: cover;
  height: 12em !important;
  max-height: 12em !important;
  width: 100%;
  overflow: hidden;
}

.productDetailsImg {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

.item {
  padding: 16px !important;
  flex-direction: row !important;
  align-items: center;
  gap: 8px;
}

.footer {
  margin-top: 16px;
  padding: 16px;
  background: var(--col-tertiary3) !important;
}

.footerMeta {
  color: var(--col-secondary)
}

.font {
  color: var(--col-font) !important;
}

.card:hover {
  box-shadow: -1px 1px 20px 0 lightgrey !important;
}

.configButton {
  position: fixed;
  bottom: 16px;
  top: unset;
  left: 16px;
  z-index: 2;
}

.cartButton {
  margin-top: 3px !important;
  background: transparent !important;
}

.card h2 {
  font-size: 16px;
  text-align: left;
  color: var(--col-font);
}

.card h3 {
  margin: 0;
  font-size: 14px;
  text-align: left;
  color: var(--col-secondary-font);
  font-weight: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;
  height: 35px;
}

.card h4 {
  margin-top: 8px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.newBadge {
  background-color: var(--col-primary2) !important;
  color: var(--col-font) !important;
  position: absolute !important;
  z-index: 9;
  left: 103px !important;
  top: 132px;
}

/* On screens that are 992px or more */
@media screen and (min-width: 992px) {
  .input {
    width: 500px;
  }

  .largeLogoFooter {
    display: none !important;
  }

  .smallLogoFooter {
    display: block !important;
  }

  .smallLogo {
    display: none !important;
  }

  .largeLogo {
    display: block !important;
  }

  .cartContainer {
    display: flex;
    justify-content: flex-end;
    width: 230px;
  }

  .cartNumber {
    width: 20px;
    height: 20px;
    background-color: var(--col-orange) !important;
    padding: 3px;
    margin: 0;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    align-items: center;
  }

  .item {
    display: flex !important;
  }
}
