.navbar {
    box-shadow: -1px 1px 20px 0 lightgrey;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    margin-bottom: 16px;
    padding: 0 120px;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--col-secondary);
}

.freeTestButton {
    align-self: center;
}

.bannerContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbarContent {
    display: flex;
    justify-content: space-between;
    min-width: min(94vw,1100px);
    width: min(100vw,1150px);
}


.title h1 {
    font-size: 3em;
}

.examplesSection {
    border-radius: 8px;
    margin: 16px 0;
    padding: 16px 32px;
    width: 100%;
    background-color: var(--col-primary);
}

.examplesPictures {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.exampleCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 30%;
    gap: 8px;
}

@media screen and (max-width: 600px) {
    .bannerContainer {
        flex-direction: column-reverse;
    }

    .examplesPictures div {
        flex: 25%;
    }
}
