.navbar {
    box-shadow: -1px 1px 20px 0 lightgrey;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    margin-bottom: 16px;
    padding: 0 120px;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--col-secondary);
}

.freeTestButton {
    align-self: center;
}

.bannerContainer {
    display: flex;
}

.navbarContent {
    display: flex;
    justify-content: space-between;
    min-width: min(94vw,1100px);
    width: min(100vw,1150px);
}


.title {

}
