/*
    GButton
*/

.gButtonPrimary {
    background-color: var(--col-primary) !important;
}

.gButtonSecondary {
    background-color: var(--col-secondary) !important;
}


.gButtonTertiary {
    background-color: var(--col-tertiary) !important;
}

.gButtonOrange {
    background-color: var(--col-orange) !important;
}

.gButtonDanger {
    background-color: var(--col-danger) !important;
}

.gButtonPrimaryBasic {
    background-color: transparent !important;
    color: var(--col-primary) !important;
    border: 1px solid var(--col-primary) !important
}

.gButtonText {
    margin-left: 4px;
}

.gIcon {
    margin: 0 !important
}

.gButtonTransparent {
    background-color: transparent !important;
    color: var(--col-primary) !important;
    border: none !important
}

/*
   GBadge
*/

.gBadge {
    margin: 8px;
    display: inline-block;
    padding: 6px 8px;
    background-color: lightgrey;
    border-radius: 8px;
    width: max-content;
    line-height:normal ;
    height: max-content;
    font-size: 12px;
}

.gBadgeCircular {
    border-radius: 50px;
}

.gBadgeBasic {
    background-color: var(--col-lightgray);
}

/*
    Input
*/
.numberInput {
    width: 60px;
    margin: 0 8px 0 5px;
}

/* Chrome, Safari, Edge, Opera */
.numberInput input::-webkit-outer-spin-button,
.numberInput input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.numberInput input[type=number] {
    -moz-appearance: textfield;
}

.numberInput input {
    text-align: center !important;
    font-weight: 800;
}

/*
    Paginator
*/
.paginatorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px
}

.paginatorContainer a :not(.active){
    color: var(--col-font);
}