.gButtonPrimary {
    background-color: var(--col-primary) !important;
    color: var(--col-white) !important;
}

.gButtonSecondary {
    background-color: var(--col-secondary) !important;
    color: var(--col-font) !important;
}


.gButtonTertiary {
    background-color: var(--col-tertiary) !important;
    color: var(--col-primary3) !important;
}

.gButtonOrange {
    background-color: var(--col-orange) !important;
    color: var(--col-white) !important;
}

.gButtonDanger {
    background-color: var(--col-danger) !important;
    color: var(--col-white) !important;
}

.gButtonPrimaryBasic {
    background-color: transparent !important;
    color: var(--col-primary) !important;
    border: 1px solid var(--col-primary) !important
}

.gButtonText {
    margin-left: 4px;
}


.numberInput {
    width: 60px;
    margin: 0 8px;
}

/* Chrome, Safari, Edge, Opera */
.numberInput input::-webkit-outer-spin-button,
.numberInput input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.numberInput input[type=number] {
    -moz-appearance: textfield;
}

.numberInput input {
    text-align: center !important;
    font-weight: 800;
}